body {
    font-family: Arial, sans-serif;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#color-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
}

.color-swatch {
    width: 100px;
    height: 100px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 12px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#color-name {
    font-size: 36px;
    margin: 20px 0;
}

#challenge-level {
    font-size: 36px;
    margin: 20px 0;
}

#previous-button {
    margin: 30px 0;
    padding: 10px 20px;
    /* background-color: #007bff; */
    /* color: #fff; */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#previous-button:hover {
    background-color: #0056b3;
}

#next-button {
    margin: 30px 0;
    padding: 10px 20px;
    /* background-color: #007bff; */
    /* color: #fff; */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#next-button:hover {
    background-color: #0056b3;
}